<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}" title="Homepage - L'Arte della Felicità">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}" title="Chi sono - Biografia e filosofia">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}" title="Contatti - Scrivimi un messaggio">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/archivio" | relative_url }}" title="Archivio completo - Tutti gli articoli">Archivio</a>
        </li>
        <li class="nav-item">
          <button id="theme-toggle" class="btn btn-link nav-link" title="Cambia tema" aria-label="Passa al tema scuro/chiaro" style="border: none; background: none; color: inherit;">
            <span id="theme-icon">🌙</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>