<!DOCTYPE html>

<html lang="it">

{% include head.html %}

<body{% if page.url == '/contact.html' or page.permalink == '/contact/' or page.title contains 'Contact' %} class="page-contact"{% endif %}>
{% include navbar.html %}
  <div class="main-wrapper">
  <div class="content-box">
  
  

  {{ content }}

  {% include footer.html %}
</div>
</div>

  <!-- Cookie Banner GDPR -->
  {% include cookie-banner.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>
</html>
