<!DOCTYPE html>


<html>

{% include head.html %}
{% include navbar.html %}

<body>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <div class="main-wrapper">
    <div class="container content-box">
  
  

  {{ content }}

  {% include footer.html %}
</div>
</div>

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLB32YW721"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLB32YW721');
</script>
</html>
